@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
/* https://fonts.google.com/specimen/New+Tegomin?subset=japanese#standard-styles */

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
共通処理
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

/*-* 余白リセット *-*-*-*-*-*-*-*-*-*-*-*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-* 初期設定 *-*-*-*-*-*-*-*-*-*-*-*/
html{
  font-size: 62.5%;
  font-family: 'New Tegomin', serif;
}

body{
  font-size: 1.6rem;
  background-color: rgb(0, 0, 0);
}
body::before{
  background: url(images/background.jpg) no-repeat center;
  background-size: cover;
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height:100vh;
}

.map0::before{
  background: url(images/map0.jpg) no-repeat center;
  background-size: cover;
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height:100vh;
}

a{
  color: rgb(102, 0, 0);
  text-decoration: none;
  font-weight: bold;
}
a:hover{
  color: rgb(153, 51, 51);
}

img{
  border: 0;
  vertical-align: top;
}

ul{
  list-style: none;
}

.btnstyle{
  padding: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0 rgba(204, 204, 204,0.5);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 1px 0 rgba(51, 51, 51,0.5);
}

.btnspan{
  padding: 5px;
  background-color: rgb(102, 0, 0);
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0 rgba(204, 204, 204,0.5);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 1px 0 rgba(51, 51, 51,0.5);

}
/*-* 行間 *-*-*-*-*-*-*-*-*-*-*-*/
h1{
  line-height:1;
}

/*-* 中央揃え *-*-*-*-*-*-*-*-*-*-*-*/

#wrapper{
  min-height: 100vh;
  margin:0 auto;
  background-color: rgba(255, 255, 255, 0.7);
}


/*-* IE対策 *-*-*-*-*-*-*-*-*-*-*-*/
main{
  display: block;
}

/*-* footer(共通) *-*-*-*-*-*-*-*-*-*-*-*/
footer{
  padding: 50px 0;
  text-align: center;
}
/*-* #error *-*-*-*-*-*-*-*-*-*-*-*/
#error main>h1,#error main>p{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

/*-* #login *-*-*-*-*-*-*-*-*-*-*-*/
#login h1{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

#login main>div{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#login tr{
  display: flex;
  justify-content: center;
}

#login table>tbody>tr:last-child{
  text-align: center;
}
#loginbtn{
  margin-top: 30px;
  width: 80%;
}

/*-* index *-*-*-*-*-*-*-*-*-*-*-*/
#index header{
  display: flex;
  justify-content: space-between;
  align-items: center;/* 上はstart下はend */
  padding-top: 5px;
}
#index header>div>h1>img{/*仮！！！！！*/
  width: 80%;
}
#index header>div{/*仮！！！！！*/
  text-align: center;
}

#index nav>ul{
  display: flex;
  justify-content: center;
}

#contspn{
  display: none;
  line-height: 1;
  font-size: 1.2rem;
}

#index nav>ul>li>a{
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0);
}
#index nav>ul>li>a:hover{
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px rgb(153, 0, 0),0 0 3px rgb(153, 0, 0),0 0 3px rgb(153, 0, 0),0 0 3px rgb(153, 0, 0);
}
.flavor1,.flavor2{
  color: rgb(51, 51, 51);
  text-shadow: 0 0 3px rgb(255, 255, 255);
  font-style: italic;
  font-weight: bold;
}

#index main>div:first-child{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#index main>div:last-child{
  text-align: center;
}

#index h2{
  text-align: right;
  border-bottom: 1px solid rgb(0, 0, 0);
}
#index .h2nplus2{
  margin-top: 20px;
}

#index section{
  margin-left: 50px;
}

#index dl{
  margin-top: 20px;
}
#index dt{
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 10px;
}
#index dd{
  margin: 10px 0 0 25px;
}

#index table{
  margin-top: 20px;
  border-collapse: collapse;
  border: 1px rgb(0, 0, 0) solid;
}
#index table th{
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
}
#index table td{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
#index table th,#index table td{
  border: 1px rgb(0, 0, 0) solid;
  padding: 1px 4px;
  width: 60px;
}
#index table tr>th:first-child{
  width: 100px;
}

/*-* ニューゲーム *-*-*-*-*-*-*-*-*-*-*-*/
#newgame h1{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

#newgame header>p{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0);
}

#newgame main>div{
  display: flex;
  justify-content: center;
}
#startBtn{
  margin-top: 50px;
}

#newgame input{
  width: 100%;
}

#newgame .btnstyle{
  width: fit-content;
}

#newgame th{
  font-size: 1.8rem;
  padding-top: 20px;
  text-align: center;
}

#newgame td{
  text-align: center;
}

#newgame #btn{
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

#newgame #cbtn{
  width: 200px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

#newgame #cbtn>input{
  width: 80px;
}

/*-* スタート *-*-*-*-*-*-*-*-*-*-*-*/
#start h1,#restart h1{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

#start header>p,#restart header>p{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0);
}

#start main>div,#restart main>div{
  display: flex;
  justify-content: center;
}

#restart form{
  display: flex;
  justify-content: center;
}
#restart main>p{
  margin: 50px;
  text-align: center;
}
#restart main>p>span{
  font-weight: bold;
  color: rgb(102, 0, 0);
}

#start th{
  font-size: 1.8rem;
  padding-top: 20px;
  text-align: center;
}

#start td{
  text-align: center;
}

#start #btn{
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

#start #btn_c{
  width: 200px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
#start #btn_c>input{
  width: 80px;
}

#start #charaSelect img{
  margin-top: 15px;
  width: 80%;
  height: 80%;
}

#start #charaSelect{
  width: 80%;
}

#start #charaSelect th{
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0);
  line-height: 1;
}
#start #charaSelect th>span{
  font-size: 1.2rem;
}

#start #charaSelect input{
  margin-top: 15px;
}

#start .skill_h{
  margin-top: 10px;
  font-size: 1.8rem;
  font-weight: bold;
}
#start .skill_d{
  margin-top: 10px;
  font-size: 1.2rem;
}

#start .lost_p{
  color: rgb(153, 0, 0);
  font-weight: bold;
}

/*-* イントロダクション *-*-*-*-*-*-*-*-*-*-*-*/
#intro h1{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

#intro header>p{
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0);
}

#intro main{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#intro main>div{
  margin: 0 auto;
  width: 80%;
}

#intro main>div>p{
  font-size: 1.8rem;
  margin: 10px 50px 0;
  line-height: 1.5;
}

#intro main>div>img{
  display:block;
  margin: 50px auto 0;
}
#intro main>div>div{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/*-* ターン *-*-*-*-*-*-*-*-*-*-*-*/
#turn main>div{
  display: flex;
  justify-content: center;
}

#turn input{
  width: 100%;
}

#turn .btnstyle{
  width: fit-content;
}

#turn th{
  font-size: 1.8rem;
  padding-top: 20px;
  text-align: center;
}

#turn td{
  text-align: center;
}

#turn #btn{
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

#turn #cbtn{
  width: 200px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

#turn #cbtn>input{
  width: 80px;
}

/*-* ターンセット *-*-*-*-*-*-*-*-*-*-*-*/
#turn header{
  display: flex;
  justify-content: space-between;
  align-items: center;/* 上はstart下はend */
  padding-top: 5px;
  margin: 0 50px;
}
#turn header>div{
  text-align: center;
}

#turn main>div{
  display: flex;
  justify-content: center;
  align-items: center;
}
#turn main>div>img{
  margin-right: 100px;
  width: 30%;
  height: 30%;
}

#info{
  margin-top: 20px;
  text-align: center;
  font-size: 1.8rem;
  text-align: right;
}

#map_gage{
  width: 250px;
  margin: 30px auto 0;
}

#gage_title{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.4rem;
  font-weight: bold;
}

#gage_all{
  height: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgba(0, 0, 0,0.5);
  border: 1px solid rgb(255, 255, 255);
}
#gage_now{
  width: 0%;
  height: 100%;
  background: linear-gradient(rgb(255, 0, 51), rgb(102, 0, 0));
  border-top: 2px solid rgb(255, 102, 102);
  border-left: 2px solid rgb(255, 102, 102);
}

#panic_span{
  font-weight: bold;
  color: rgb(255, 255, 0);
  text-shadow: 0 0 3px rgb(153, 0, 0),0 0 3px rgb(153, 0, 0),0 0 3px rgb(153, 0, 0),0 0 3px rgb(153, 0, 0),0 0 3px rgb(153, 0, 0),0 0 3px rgb(153, 0, 0),0 0 3px rgb(153, 0, 0),0 0 3px rgb(153, 0, 0);
}

#action{
  margin-top: 30px;

}
#action .action_btn{
  border: none;
  font-size: 3rem;
  font-family: 'New Tegomin', serif;
  font-weight: bold;
  background-color: transparent;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0);
  cursor: pointer;
}

#action .action_btn:hover{
  text-shadow: 0 0 3px rgb(153, 0, 0),0 0 3px rgb(153, 0, 0),0 0 3px rgb(153, 0, 0),0 0 3px rgb(153, 0, 0);
}

.system_span{
  color: rgb(0, 51, 153);
}

.next_turn{
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0),0 0 3px rgb(0, 0, 0);
}
.next_turn:hover{
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px rgb(153, 0, 0),0 0 3px rgb(153, 0, 0),0 0 3px rgb(153, 0, 0),0 0 3px rgb(153, 0, 0);
}

/*-* ページ名 *-*-*-*-*-*-*-*-*-*-*-*/
/*-* ページ名 *-*-*-*-*-*-*-*-*-*-*-*/



/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
レスポンシブ対応：パソコン（1025～）
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@media screen and (min-width: 1025px) {
  #wrapper{
    width: 1000px;
  }
  /*-* index *-*-*-*-*-*-*-*-*-*-*-*/
  #index nav{
    width: 60%;
  }
  #index nav>ul>li{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    width: 25%;
  }
  #index main>div>img{
    width: 350px;
  }
  .flavor1{
    margin-top: 50px;
    padding-right: 50px;
  }
  .flavor2{
    padding-left: 50px;
  }
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
レスポンシブ対応：スマートフォン（0～599）
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@media screen and (min-width: 0px) and (max-width: 599px) {
  #wrapper{
    width: 100%;
  }
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
レスポンシブ対応：タブレット（600～1024）
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@media screen and (min-width: 600px) and (max-device-width: 1024px) {
  #wrapper{
    width: 500px;
  }
}